html {
  background-image: url("https://st2.depositphotos.com/4451541/7797/v/950/depositphotos_77979862-stock-illustration-thank-you-so-mach-hand.jpg");
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
